<!DOCTYPE kpartgui>
<kpartgui name="kmymoneyplugin-kbanking" version="3">
  <MenuBar>
    <Menu name="account">
      <Separator/>
      <Action name="account_map_aqbanking"/>
      <Action name="account_update_aqbanking"/>
    </Menu>
    <Menu name="online-banking">
      <text>Online Banking</text>
      <Action name="settings_aqbanking"/>
      <Action name="file_import_aqbanking"/>
    </Menu>
    <Menu name="settings">
      <Action name="settings_aqbanking" append="configure_merge"/>
    </Menu>
    <Menu name="file">
      <Menu name="import">
        <Separator/>
        <Action name="file_import_aqbanking"/>
      </Menu>
    </Menu>
  </MenuBar>
  <Menu name="account_context_menu">
    <Separator/>
    <Action name="account_map_aqbanking"/>
    <Action name="account_update_aqbanking"/>
  </Menu>
  <ToolBar name="mainToolBar">
    <Action name="account_update_aqbanking"/>
  </ToolBar>
</kpartgui>
