<!DOCTYPE kpartgui>
<kpartgui name="kmymoney2" version="2">
<!--
  This file is merged with $KDEDIR/share/config/ui/ui_standards.rc file
  to form the menu of this application. The merge points are defined
  in the standard file using the <MergeLocal> tag
-->
<MenuBar>
  <Menu name="file">
    <Menu name="import" icon="fileimport" append="save_merge"><text>&amp;Import</text>
      <Action name="file_import_qif"/>
      <Action name="file_import_ofx"/>
      <Action name="file_import_gnc"/>
      <Separator/>
      <Action name="file_import_aqb"/>
      <Separator/>
      <Action name="file_import_template"/>
    </Menu>
    <Menu name="export" icon="fileexport" append="save_merge"><text>E&amp;xport</text>
      <Action name="file_export_qif"/>
    </Menu>
    <Action name="file_view_info"/>
    <Action name="file_personal_data" icon="info"/>
    <Action name="file_backup"/>
  </Menu>

  <Menu name="settings">
    <Action name="show_transaction_detail" append="show_merge"/>
    <Action name="banking_settings" append="configure_merge"/>
    <Action name="enable_messages" append="show_merge"/>
  </Menu>

  <Menu name="bank"><text>&amp;Institution</text>
    <Action name="bank_add"/>
  </Menu>

  <Menu name="account"><text>&amp;Account</text>
    <Action name="account_open"/>
    <Action name="account_add"/>
    <Action name="category_add"/>
    <Action name="account_reconcile"/>
    <Action name="account_find"/>
  </Menu>

  <Menu name="tools">
    <Action name="qif_editor"/>
    <Action name="tool_currency_dialog"/>
    <Action name="file_consistency_check"/>
    <Action name="equity_price_update"/>
  </Menu>

  <Menu name="help">
    <Action name="show_tip"/>
  </Menu>
<!--
  <Menu name="bills"><text>&amp;Bills/Deposits</text>
    <Action name="bills_add"/>
  </Menu>

  <Menu name="reports"><text>&amp;Reports</text>
    <Action name="report_basic"/>
  </Menu>

  <Menu name="plugin"><text>&amp;Plugins</text>
    <Action name="plugin_load"/>
    <Action name="plugin_unload"/>
    <Action name="plugin_list"/>
  </Menu>
-->
</MenuBar>
<ToolBar name="mainToolBar" >
	<Separator/>
  <Action name="bank_add"/>
  <Action name="account_add"/>
  <Separator/>
  <Action name="account_open"/>
  <Action name="account_reconcile"/>
  <Action name="account_import"/>
  <Action name="account_export"/>
  <Separator/>
  <Action name="account_find"/>
<!--
  <Action name="go_back"/>
  <Action name="go_forward"/>
-->
</ToolBar>
</kpartgui>
