[Desktop Entry]
Encoding=UTF-8
Name=KMyMoney
Exec=kmymoney2
Comment=Personal Finance Manager
Comment[de]=Persönlicher Finanzassistent
Comment[fr]=
MimeType=application/x-kmymoney
Type=Application
DocPath=kmymoney2/index.html
Icon=kmymoney2
MiniIcon=kmymoney2
ServiceTypes=
