[Desktop Entry]
Encoding=UTF-8
Name=KMyMoney
Exec=kmymoney2
Comment=Personal Finance Manager
Comment[de]=Persönlicher Finanzassistent
Comment[fr]=Gestionnaire de finances personnelles
MimeType=application/x-kmymoney;application/vnd.intu.qfx;application/x-ofx
Type=Application
DocPath=kmymoney2/index.html
Icon=kmymoney2
MiniIcon=kmymoney2
ServiceTypes=
Categories=Office;Finance
