<!DOCTYPE kpartgui>
<kpartgui name="kmymoney2" version="0.3.4">
<MenuBar>
  <Menu name="file"><text>&amp;File</text>
    <Action name="file_view_info"/>
    <Action name="file_personal_data"/>
    <Action name="file_backup"/>
    <Separator/>
    <Action name="file_new_window"/>
    <Action name="file_close_window"/>
  </Menu>

  <Menu name="settings"><text>&amp;Settings</text>
  </Menu>

  <Menu name="categories"><text>&amp;Categories</text>
    <Action name="categories_edit"/>
    <Action name="categories_payees"/>
  </Menu>

  <Menu name="bank"><text>&amp;Institution</text>
    <Action name="bank_add"/>
  </Menu>

  <Menu name="account"><text>&amp;Account</text>
    <Action name="account_add"/>
    <Action name="account_reconcile"/>
    <Action name="account_find"/>
    <Action name="account_import"/>
    <Action name="account_export"/>
  </Menu>

  <Menu name="bills"><text>&amp;Bills/Deposits</text>
    <Action name="bills_add"/>
  </Menu>

  <Menu name="reports"><text>&amp;Reports</text>
    <Action name="report_basic"/>
  </Menu>

  <Menu name="plugin"><text>&amp;Plugins</text>
    <Action name="plugin_load"/>
    <Action name="plugin_unload"/>
    <Action name="plugin_list"/>
  </Menu>
</MenuBar>
<ToolBar name="mainToolBar" >
  <Action name="categories_edit"/>
  <Action name="categories_payees"/>
	<Separator/>
  <Action name="bank_add"/>
  <Action name="account_add"/>
	<Separator/>
  <Action name="account_reconcile"/>
  <Action name="account_find"/>
  <Action name="account_import"/>
  <Action name="account_export"/>
</ToolBar>
</kpartgui>
