[Desktop Entry]
Encoding=UTF-8
Comment=KMyMoney File
Comment[de]=KMyMoney-Datei
Comment[fr]=Fichier KMyMoney
Icon=kmymoney2
Type=MimeType
MimeType=application/x-kmymoney
Patterns=*.kmy;
