@media screen {

  A.el { text-decoration: none; }
  A.elRef { font-weight: bold }
  A.code { text-decoration: none; font-weight: normal; color: #4C59A6 }
  A.codeRef { font-weight: normal; color: #4C59A6 }
  A:hover { text-decoration: none; font-weight: normal; color: #4C59A6 }

  body { /* background color for all pages */
    background-color: Window;
  }

  .gap { /* used for spacing in financial summary and reports -match background color of body*/
    background-color: Window;
    padding-top: 1px;
  }

  body.highlighted {
    background-color: highlight;
    color: highlighttext;
  }

  p {
  color:WindowText;
  }

  h1 {
  color:WindowText;
  }

  h2 { /* "your financial summary" title on summary page */
    font-size: 18px;
    font-family: verdana, arial, sans-serif;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
    color:WindowText;
  }

  h2.highlighted {
    background-color: highlight;
    color: highlighttext;
  }

  h2.report { /* header -title on report pages */
    font-size: 18px;
    font-family: verdana, arial, sans-serif;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color:WindowText;
    }

  .itemheader { /*section labels in the financial summary and column labels in reports */
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    background-color: highlight;
    color: highlighttext;
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 5px;
  }

  li {
  color:WindowText;
  }

  td {
  /*  font-size: 11px; */
    font-family: verdana, arial, sans-serif;
  }

  td.highlighted
  {
    background-color: highlight;
    color: highlighttext;
  }

  .row-even {
    font-family: verdana, arial, helvetica, sans-serif; /*  font-size: 11px; */
    background-color: #FFFFEE;
    color: black;
    padding-top: 2px;
    padding-left: 20px;
  }

  .row-odd {
    font-family: verdana, arial, helvetica, sans-serif; /*  font-size: 11px; */
    background-color: #FFFFCC;
    color: black;
    padding-top: 2px;
    padding-left: 20px;
  }

  .item { /*item labels (sub-titles) for sections in the financial summary */
  /*  font-size: 11px; */
    background-color: highlight;
    color: highlighttext;
    padding-top: 2px;
  }

  .warning { /* "overdue payments" */
    background-color: infobackground;
    font-weight: bold;
    padding-bottom: 2px;
    text-align: left;
  }

  table.highlighted {
    background-color: highlight;
    color: highlighttext;
  }

  font.kmymoney2 {
    color: #4C59A6;
    font-weight: bold;
  }

  font.highlighted {
    background-color: highlight;
    color: highlighttext;
  }

  th.highlighted {
    background-color: highlight;
    color: highlighttext;
  }

  th.left,
  td.left
  {
    text-align: left;
  }

  th.right,
  td.right
  {
    text-align: right;
  }

  th.center,
  td.center
  {
    text-align: center;
  }

  /* These affect only the reports found in the reports view */

  div.subtitle { /*subtitle of each report page*/
    text-align: center;
    color:WindowText;
  }

  table.report {
    margin-left:auto;
    margin-right:auto;
  }

  table.report th {
    padding: 0.5em 0.5em;
  }

  table.report td {
    font-size: 9pt;
    padding: 0 0.5em;
    text-align: right;
  }

  table.report td.leftborder {
    border-left: 1px solid;
  }

  table.report td.left {
    text-align: left;
  }

  table.report td.left0 {
    text-align: left;
  }

  table.report td.left1 {
    text-align: left;
    text-indent: 1.0em;
  }

  table.report td.left2 {
    text-align: left;
    text-indent: 2.0em;
  }

  table.report tr#subtotal td {
    border-bottom: 1px solid black;
    font-weight: normal;
  }

  table.report tr#topparent td.left {
    font-weight: bold;
  }

  table.report tr#solo td {
    border-bottom: 1px solid black;
    font-weight: normal;
  }

  table.report tr#solo td.left {
    font-weight: bold;
  }

  table.report tr.sectionheader td { /* label (title) of each section -subtotals */
    font-weight: bold;
    padding: 0.5em 0.5em 0 0.5em;
    color:WindowText;
  }

  table.report tr.sectionfooter td { /* totals for each section -subtotals */
    border-top: 1px solid black;
    padding: 0 0.5em 0.5em 0.5em;
    color:WindowText;
  }

  table.report tr.reportfooter td { /* "Grand Total" totals" */
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 0 0.5em 0 0.5em;
    color:WindowText;
  }

  table.report tr.reportfooter td.left { /* "Grand Total" */
    font-weight: bold;
    color:WindowText;
  }

  table.report tr.spacer td {
    font-size: 4pt;
    padding: 1em 0;
  }
}

@media print {

  body  { background: white; margin: 0; padding: 0 }
  body  { font-family: helvetica, arial; font-size: 10pt }
  td,th { font-family: helvetica, arial; font-size:  9pt }

  thead { display: table-header-group }
  tbody { display: table-row-group }
  tfoot { display: table-footer-group }
  tr    { page-break-inside: avoid }

  div.gap { display: none }
  .spacer { display: none }

  h2.report,
  div.subtitle { margin: 6pt; padding: 0; text-align: center }
  div.subtitle { margin-bottom: 18pt }

  table { border-collapse: separate; border-spacing: 1px; }
  table { margin-left: auto; margin-right: auto }
  td    { vertical-align: baseline }

  th { border-bottom: 1pt solid black }
/*  th             { background: #cccccc } */
  tr.item0 td    { background: #f2f2ff }
  tr.item1 td    { background: #f2fff2 }
  tr.row-even td { background: #f2f2ff }
  tr.row-odd  td { background: #f2fff2 }

  tr.item0 td,
  tr.item1 td,
  tr.itemA td,
  tr.itemZ td { font-style: italic }

  td.left0,
  td.left1,
  td.left2,
  td.left   { text-align: left  }
  td.center { text-align: center  }
  td.right  { text-align: right }
  td, th    { padding: 2pt 4pt }

  tr.sectionheader td.left,
  tr.sectionfooter td.left,
  tr.sectionheader td.left0,
  tr.sectionfooter td.left0 {
    padding-top: 12pt; font-size: 1.1em; font-weight: bold
  }

  tr.sectionheader td.left1,
  tr.sectionfooter td.left1,
  tr.sectionheader td.left2,
  tr.sectionfooter td.left2 {
    padding-top:  6pt; font-size: 0.9em; font-weight: bold
  }

  tr.reportfooter td.left {
    padding-top: 12pt; font-size: 1.1em; font-weight: bold
  }

  #subtotal { font-style: italic }
/*  #topparent td, #solo td { border-top: 1px solid gray } */
}

tr.item0 td,
tr.item1 td,
tr.itemA td,
tr.itemZ td { font-style: italic }
tr.itemA td { border-bottom: 1px dotted gray }
tr.itemZ td { border-top:    1px dotted gray }

.item0 .value,
.item1 .value { padding-right: 2em }
