A.el { text-decoration: none; }
A.elRef { font-weight: bold }
A.code { text-decoration: none; font-weight: normal; color: #4C59A6 }
A.codeRef { font-weight: normal; color: #4C59A6 }
A:hover { text-decoration: none; font-weight: normal; color: #4C59A6 }

td
{
  font-size: 11px;
  font-family: verdana, arial;
}

td.highlighted {
  background-color: #32A49E;
  color: #FFFFFF;
}

h2
{
  font-size: 18px;
  font-family: verdana, arial;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
}

h2.report {
  font-size: 18px;
  font-family: verdana, arial;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.itemheader
{
  color: white;
  font-family: verdana, arial, helvetica;
  background-color: #4C59A6;
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 5px;
}

.row-even {
  font-size: 11px;
  font-family: verdana, arial, helvetica;
  background-color: #FFFFEE;
  color: black;
  padding-top: 2px;
  padding-left: 20px;
}

.row-odd {
  font-family: verdana, arial, helvetica;
  font-size: 11px;
  background-color: #FFFFCC;
  color: black;
  padding-top: 2px;
  padding-left: 20px;
}

.item {
  background-color: white;
  color: black;
  padding-top: 2px;
}

.gap {
  background-color: white;
  padding-top: 1px;
}

.warning {
  background-color: white;
  color: red;
  font-weight: bold;
  padding-bottom: 2px;
}

h2.highlighted {
  background-color: #308169;
  color: #FFFFFF;
}

table.highlighted {
  background-color: #308169;
  color: #FFFFFF;
}

font.kmymoney2 {
  color: #4C59A6;
  font-weight: bold;
}

font.highlighted {
  background-color: #4C59A6;
  color: #FFFFFF;
}

th.highlighted {
  background-color: #32A49E;
  color: #547098;
}

body  {
  background-color: #FFFFFF;
}

body.highlighted  {
  background-color: #308169;
  color: #FFFFFF;
}

div.subtitle {
  text-align: center;
}

table.report th {
  padding: 0.5em 0;
}

table.report td {
  font-size: 9pt;
  padding: 0 0.5em;
  text-align: right;
}

table.report td.left {
  text-align: left;
}

table.report tr#subtotal td {
  border-bottom: 1px solid black;
  font-weight: normal;
}

table.report tr#topparent td.left {
  font-weight: bold;
}

table.report tr#solo td {
  border-bottom: 1px solid black;
  font-weight: normal;
}

table.report tr#solo td.left {
  font-weight: bold;
}

table.report tr.sectionheader td {
  font-weight: bold;
  padding: 0.5em 0.5em 0 0.5em;
}

table.report tr.sectionfooter td {
  border-top: 1px solid black;
  padding: 0 0.5em 0.5em 0.5em;
}

table.report tr.reportfooter td {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 0 0.5em 0 0.5em;
}

table.report tr.reportfooter td.left {
  font-weight: bold;
}

table.report tr.spacer td {
  font-size: 4pt;
  padding: 1em 0;
}
