td.highlighted {
  background-color: #32A49E;
  color: #FFFFFF;
}

h2.highlighted {
  background-color: #308169;
  color: #FFFFFF;
}

table.highlighted {
  background-color: #308169;
  color: #FFFFFF;
}

font.kmymoney2 {
  color: #308169;
  font-weight: bold;
}

font.highlighted {
  background-color: #308169;
  color: #FFFFFF;
}

th.highlighted {
  background-color: #32A49E;
  color: #FFFFFF;
}

body  {
  background-color: #FFFFFF;
}

body.highlighted  {
  background-color: #308169;
  color: #FFFFFF;
}
